@using DNAMais.Domain.Entidades
@using DNAMais.Framework

@model List<ItemProduto>

@section scriptsHeadListagem {
    <style>
        #myTable a {
            color: pink;
            text-decoration: none;
        }

            #myTable a:hover {
                color: green;
                text-decoration: underline;
            }
    </style>

}

}
@{
    ViewBag.Title = "DNA+ :: Itens de Produto";
    ViewBag.TituloPagina = "Itens de Produto";
    ViewBag.TituloGrid = "Itens de Produto";
    Layout = "~/Views/Shared/_Listagem.cshtml";


    WebGrid grid = new WebGrid(Model, canSort: false);

    WebGridColumn coluna1 = grid.Column(columnName: "Codigo", header: "Codigo", format: @<span>@(item.Id)</span>, style: "col-md-3");
    WebGridColumn coluna2 = grid.Column(columnName: "Nome", header: "Nome", format: @<span>@(item.Nome)</span>, style: "col-md-3");
    WebGridColumn coluna3 = grid.Column(columnName: "Descricao", header: "Descrição", format: @<span>@(item.Descricao)</span>, style: "col-md-3");
}

@section grid {

    @if (TempData["msgSucesso"] != null)
    {
        <p style="color: #449010; font-size: medium;">@TempData["msgSucesso"]</p>
    }

    @if (grid.Rows.Count > 0)
    {
        @grid.GetHtml(
        htmlAttributes: new { id = "myTable" },
        tableStyle: "table table-bordered table-condensed table-striped table-primary table-vertical-center",
        columns:
            grid.Columns(
                coluna1,
                coluna2,
                coluna3,
                  grid.Column(
                    header: "Ações",
                    format: @<span>
                        @Html.DnaMaisTableLinkEdit("Edit", (object)item.Id)
                    </span>
        , style: "col-md-1 text-center")
            )
        )
    }
    else
    {
        <p style="color: #449010; font-size: medium;">Não há itens de produto cadastrados.</p>
    }
}