@using DNAMais.Domain.Entidades
@using DNAMais.Framework

@model List<CategoriaProdutoFaixa>

<style>
    .modal-header-danger {
        color: #fff;
        padding: 9px 15px;
        border-bottom: 1px solid #eee;
        background-color: #d2322d;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
</style>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-danger">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4><i class="glyphicon"></i>Editar Faixa</h4>
            </div>
            <div class="modal-body">
                <form>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Descrição</label>
                        <input type="email" class="form-control" id="txtDescricao" placeholder="Descrição">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Início</label>
                        <input type="text" class="form-control" id="txtInicio" placeholder="Início">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Término</label>
                        <input type="text" class="form-control" id="txtTermino" placeholder="Término">
                    </div>
                    <input type="text" id="txtIdCategoria" style="display: none">
                    <input type="text" id="txtCodigoFaixa" style="display: none">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" id="btnSalvar" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>

<table id="myTable" class="table table-bordered table-condensed table-striped table-primary table-vertical-center">
    <thead>
        <tr>
            <th style="text-align: center;">Faixa</th>
            <th>Descrição</th>
            <th style="text-align: center;">Início</th>
            <th style="text-align: center;">Término</th>
            <th style="text-align: center;">Editar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align: center;"><span>@item.CodigoFaixa</span></td>
                <td><span>@item.DescricaoFaixa</span></td>
                <td style="text-align: center;"><span>@item.InicioFaixa</span></td>
                <td style="text-align: center;"><span>@item.TerminoFaixa</span></td>
                <td style="text-align: center;">
                    <span>
                        @Html.DnaMaisTableLinkEdit("EditarFaixa", (object)item.CodigoFaixa)
                    </span>
                </td>
            </tr>
        }
    </tbody>

</table>

@section scriptsPage {
    <script type="text/javascript">

        $(document).ready(function () {

            var dtDados = $('#myTable').DataTable({
                "oLanguage": {
                    "sProcessing": "Processando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "N&#227;o foram encontrados resultados",
                    "sInfo": "Mostrando de _START_ at&#233; _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando de 0 at&#233; 0 de 0 registros",
                    "sInfoFiltered": "(filtrado de _MAX_ registros no total)",
                    "sInfoPostFix": "",
                    ////"sSearch": "Buscar:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "Primeiro",
                        "sPrevious": "Anterior",
                        "sNext": "Seguinte",
                        "sLast": "&#218;ltimo"
                    }
                },
                "columnDefs": [
                    { "width": "80px", "targets": 0 },
                    { "targets": 1 },
                    { "width": "130px", "targets": 2 },
                    { "width": "130px", "targets": 3 },
                    { "width": "100px", "targets": 4 }
                ],
                "aaSorting": [[2, "asc"]],
                "iDisplayLength": 10,
                "aLengthMenu": [[5, 10, 50, 100, -1], [5, 10, 50, 100, "Todas"]],
                "bRetrieve": true,
                "bAutoWidth": false,
                "bProcessing": true,
                "bStateSave": false,
                "paging": true,
                "searching": true,
                "info": true,
                "bServerSide": false
            });


            $("#btnSalvar").click(function () {

                $.ajax(
               {
                   type: 'POST',
                   dataType: 'json',
                   url: '/ConfiguracoesProduto/CategoriaProdutoFaixa/EditarFaixa',
                   data: { data: objEditar() },
                   success: function (data) {
                       console.log(data);
                       location.href = "/ConfiguracoesProduto/CategoriaProdutoFaixa?idCategoria=" + data.idCategoria;
                   }
               });
            });
        })


    </script>
}