@using DNAMais.Domain.Entidades
@using DNAMais.Framework
@using DNAMais.BackOffice.Facades;

@model Produto

@{
    Layout = "~/Views/Shared/_Cadastro.cshtml";

    ViewBag.Title = "DNA+ :: Produtos";
    ViewBag.TituloPagina = "Produtos";

    //VARIAVEIS PARA UTILIZAÇÃO EM VISOES SHARED
    ViewData["messageSuccess"] = "Produto registrado com sucesso";
    ViewData["messageReturn"] = "Voltar para lista de Produtos";

    bool locked = ViewData["LOCKED"] == null ? false : (bool)ViewData["LOCKED"];
    
    //Quando não houver botão de novo item carregar essa variavel
    ViewData["desabilitarBotaoNovoItem"] = true;
    
}

@section cadastro
{
    @if (Request.HttpMethod == "GET" || !ViewData.ModelState.IsValid)
    {
        <div style="width:100%;">

            @Html.HiddenFor(
                expression: m => m.Id)

            @Html.HiddenFor(
                expression: m => m.Nome)

            @Html.HiddenFor(
                expression: m => m.CodigoCategoria)

            @Html.DnaMaisTextBoxFor(
                expression: m => m.Descricao,
                width: 300,
                disabled: locked)

            <hr class="separator" />

        </div>
        <div class="row">

        </div>

    }
}

@section validacoes
{
    @Html.Validations((Produto)Model)
}
