@using DNAMais.Domain.Entidades
@using DNAMais.Framework
@using DNAMais.BackOffice.Facades

@model IEnumerable<Produto>

@{
    Layout = "~/Views/Shared/_Listagem.cshtml";

    ViewBag.Title = "DNA+ :: Produtos Selecionados";
    ViewBag.TituloPagina = "Produtos selecionados para o usuário";
    ViewBag.TituloGrid = "Usuário Cliente: " + ViewBag.NomeUsuarioCliente + " - " + "Empresa: " + ViewBag.NomeEmpresa;

    ViewData["messageAnswer"] = "Salvar";
    ViewData["messageReturn"] = "Voltar para lista de usuários";

}

@section grid
{

    <h3>Produtos</h3>

    @using (Html.BeginForm("ProdutosLiberados", "UsuarioCliente", FormMethod.Post, new { @id = "formProdutosLiberados", @class = "form-signin", @autocomplete = "off" }))
    {

        <table class="table table-bordered table-hover mb-none">

            <thead>
                <tr>
                    <th>Categoria</th>
                    <th>Produto</th>
                    <th style="text-align: center; width: 180px">Código</th>
                    <th style="text-align: center; width: 120px">Permitido</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>@item.CategoriaProduto.Nome</td>
                        <td>@item.Nome</td>
                        <td style="text-align: center">@item.Id</td>


                        @if ((ViewBag.Produtos as ICollection<UsuarioClienteProduto>).Where(w => w.CodigoProduto == item.Id).FirstOrDefault() != null)
                        {
                            <td style="text-align: center">
                                <input type="checkbox" id="produtosSelecionados" name="produtosSelecionados" checked="checked" value="@item.Id" />
                            </td>
                        }
                        else
                        {
                            <td style="text-align: center">
                                <input type="checkbox" id="produtosSelecionados" name="produtosSelecionados" value="@item.Id" />
                            </td>
                        }

                    </tr>
                </tbody>
            }


        </table>

        @Html.Hidden("idUsuarioCliente", (object)ViewBag.CodigousuarioCliente)

        <hr />

        <button id="#btnSalvar" class="btn btn-icon btn-danger jsSalvar" type="button"><i class="fa fa-arrow-circle-right"></i>Salvar</button>

        @Html.DnaMaisButton("Index", "btnVoltar", ViewData["messageReturn"].ToString(), "default", "arrow-circle-left")

    }

}

@section scriptsPage
{
    <script type="text/javascript">

        $(document).ready(function () {
            $('.jsSalvar').on('click', function (event) {
                event.preventDefault();
                $.ajax({
                    url: '@Url.Action("ProdutosLiberados", "UsuarioCliente")',
                    type: 'POST',
                    data: $("#formProdutosLiberados").serialize(),
                    dataType: 'json',
                    cache: false,
                    success: function (result) {
                        if (result != null && result.success) {
                            toastr['success']('Produtos gravados com sucesso');
                            setTimeout(function () {
                                location.href = "@Url.Action("Index", "UsuarioCliente")";
                            }, 1000);
                        } else {
                            toastr['error'](result.responseText);
                        }
                    },
                    error: function (a, b, c) {
                        //toastr['error'](a.responseText.replace('"', '').replace('"', ''));
                    }
                });
            });

        });
    </script>
}