@using DNAMais.Domain.Entidades
@using DNAMais.Framework

@model List<ClienteEmpresa>

@{
    ViewBag.Title = "DNA+ :: Clientes";
    ViewBag.TituloPagina = "Clientes";
    ViewBag.TituloGrid = "Clientes Cadastrados";
    Layout = "~/Views/Shared/_Listagem.cshtml";

    string mensagemExclusao = "Tem certeza que deseja excluir este Cliente?";
}

@section botaoNovo {
    <p>
        @Html.DnaMaisButton("Create", "btnCreate", "Novo Cliente", "default", "plus")
    </p>
}

@section grid {
    <table id="myTable" class="table table-bordered table-condensed table-striped table-primary table-vertical-center">
        <thead>
            <tr>
                <th style="text-align:center;">No.</th>
                <th>CNPJ</th>
                <th>Razão Social</th>
                <th>Nome Fantasia</th>
                <th>Ramo Atividade</th>
                <th style="text-align:center;">Data Cadastro</th>
                <th style="text-align:center;">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var clienteEmpresa in Model)
            {
                <tr>
                    <td style="text-align:center;">@clienteEmpresa.Id</td>
                    <td>@clienteEmpresa.Cnpj</td>
                    <td>@clienteEmpresa.RazaoSocial</td>
                    <td>@clienteEmpresa.NomeFantasia</td>
                    <td>@clienteEmpresa.RamoAtividade.Nome</td>
                    <td style="text-align:center;">@(((DateTime)clienteEmpresa.DataCadastro).FormatarDataHora())</td>
                    <td style="text-align:center;">
                        <span>
                            @Html.DnaMaisTableLinkDetails("Details", (object)clienteEmpresa.Id)
                            @Html.DnaMaisTableLinkEdit("Edit", (object)clienteEmpresa.Id)
                            @Html.DnaMaisTableLinkRemove("Remove", (object)clienteEmpresa.Id, mensagemExclusao)
                        </span>
                </tr>
            }
        </tbody>
    </table>

}

@section scriptsPage {
    <script>
        $(document).ready(function () {

            $('.jsExcluir').on('click', function (event) {
                event.preventDefault();

                var id = $(this).data('valor');

                bootbox.dialog({
                    message: "Confirma a exclusão do registro ?",
                    title: "Atenção - Exclusão",
                    buttons: {
                        main: {
                            label: "Cancelar",
                            className: "btn-primary",
                            callback: function () {
                                toastr['info']('Operação cancelada pelo usuário');
                            }
                        },
                        danger: {
                            label: "Excluir",
                            className: "btn-danger",
                            callback: function () {
                                $.ajax({
                                    type: 'POST',
                                    url: '@Url.Content("~/ClienteEmpresa/Remove/")',
                                    cache: false,
                                    contentType: 'application/json; charset=utf-8',
                                    data: JSON.stringify({
                                        id: id
                                    }),
                                    success: function (result) {
                                        if (result.success) {
                                            toastr['success']('Registro excluído com sucesso');
                                            setTimeout(function () {
                                                location.href = '@Url.Content("~/Cadastros/ClienteEmpresa")';
                                            }, 1000);
                                        } else {
                                            toastr['error'](result.responseText);
                                        }
                                    },
                                    error: function (result) {
                                        toastr['error']('Ocorreu um erro na exclusão do registro');
                                    }
                                });
                            }
                        }
                    }
                });
            });

            var dtDados = $('#myTable').DataTable({
                "oLanguage": {
                    "sProcessing": "Processando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "N&#227;o foram encontrados resultados",
                    "sInfo": "Mostrando de _START_ at&#233; _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando de 0 at&#233; 0 de 0 registros",
                    "sInfoFiltered": "(filtrado de _MAX_ registros no total)",
                    "sInfoPostFix": "",
                    ////"sSearch": "Buscar:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "Primeiro",
                        "sPrevious": "Anterior",
                        "sNext": "Seguinte",
                        "sLast": "&#218;ltimo"
                    }
                },
                "columnDefs": [
                    { "width": "80px", "targets": 0 },
                    { "targets": 1 },
                    { "targets": 2 },
                    { "targets": 3 },
                    { "targets": 4 },
                    { "width": "130px", "targets": 5 },
                    { "width": "140px", "targets": 6 }
                ],
                "aaSorting": [[2, "asc"]],
                "iDisplayLength": 10,
                "aLengthMenu": [[5, 10, 50, 100, -1], [5, 10, 50, 100, "Todas"]],
                "bRetrieve": true,
                "bAutoWidth": false,
                "bProcessing": true,
                "bStateSave": false,
                "paging": true,
                "searching": true,
                "info": true,
                "bServerSide": false
            });

        });
    </script>

}