<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="keywords" content="DNA+" />
    <meta name="description" content="DNA+">
    <meta name="author" content="DNA+">

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/img/apple-touch-icon.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,700' rel='stylesheet' type='text/css'>

    <!-- Vendor CSS -->
    @Styles.Render("~/css/bootstrap")
    <link rel="stylesheet" href="~/vendor/font-awesome/css/font-awesome.min.css">
    @*@Styles.Render("~/css/fontawesome")*@
    @Styles.Render("~/css/simplelineicons")
    @Styles.Render("~/css/carousel")
    @Styles.Render("~/css/magnificpopup")

    <!-- Theme CSS -->
    @Styles.Render("~/css/theme")

    <!-- Current Page CSS -->
    @Styles.Render("~/css/rsplugin")
    @Styles.Render("~/css/circleflipslideshow")

    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/css/skins/default.css">
    @*@Styles.Render("~/css/skins")*@

    <!-- Theme Custom CSS -->
    @Styles.Render("~/css/custom")

    <!-- Head Libs -->
    @Scripts.Render("~/Scripts/modernizr")

    <!-- Vendor -->
    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/Scripts/bootstrap")
    @Scripts.Render("~/Scripts/common")
    @Scripts.Render("~/Scripts/carousel")
    @Scripts.Render("~/Scripts/vide")

    <!-- Contract Services -->
    @Scripts.Render("~/Scripts/contractServices")

    <!--TextBoxEffects-->
    <link rel="stylesheet" type="text/css" href="~/TextInputEffects/TextInputEffects/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="~/TextInputEffects/TextInputEffects/css/set2.css" />
    <link rel="stylesheet" type="text/css" href="~/TextInputEffects/TextInputEffects/css/normalize.css" />


</head>
<body>
    <div class="body" style="font-family: Arial, sans-serif;">
        @RenderBody()
    </div>
</body>
</html>

<!-- Theme Base, Components and Settings -->
@Scripts.Render("~/Scripts/theme")

<!-- Current Page Vendor and Views -->
@Scripts.Render("~/Scripts/rsplugin")
@Scripts.Render("~/Scripts/circleflipslideshow")
@Scripts.Render("~/Scripts/views")

<!-- Theme Custom -->
@Scripts.Render("~/Scripts/custom")

<script src="~/js/dnamais.js"></script>
<script src="~/TextInputEffects/TextInputEffects/js/classie.js"></script>
<script>
    (function () {
        // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
        if (!String.prototype.trim) {
            (function () {
                // Make sure we trim BOM and NBSP
                var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
                String.prototype.trim = function () {
                    return this.replace(rtrim, '');
                };
            })();
        }

        [].slice.call(document.querySelectorAll('input.input__field')).forEach(function (inputEl) {
            // in case the input is already filled..
            if (inputEl.value.trim() !== '') {
                classie.add(inputEl.parentNode, 'input--filled');
            }

            // events:
            inputEl.addEventListener('focus', onInputFocus);
            inputEl.addEventListener('blur', onInputBlur);
        });

        function onInputFocus(ev) {
            classie.add(ev.target.parentNode, 'input--filled');
        }

        function onInputBlur(ev) {
            if (ev.target.value.trim() === '') {
                classie.remove(ev.target.parentNode, 'input--filled');
            }
        }
    })();
</script>

<script>
    $(document).ready(function () {
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        $('#loggedMenu').addClass('active');
    });
</script>
