@using DNAMais.Domain.Entidades
@using DNAMais.Framework

@model List<TipoEndereco>

@{
    ViewBag.Title = "DNA+ :: Tipos de Endereço";
    ViewBag.TituloPagina = "Tipos de Endereço";
    ViewBag.TituloGrid = "Tipos de Endereço cadastrados";
    Layout = "~/Views/Shared/_Listagem.cshtml";

    //bool permiteEdicao = new AutorizacaoDnaMais().Authorize(ViewContext.HttpContext);
    string mensagemExclusao = "Tem certeza que deseja remover este Tipo de Endereço?";
}

@section botaoNovo {
    <p>
        @Html.DnaMaisButton("Create", "btnCreate", "Novo Tipo de Endereço", "default", "plus")
    </p>
}

@section grid {
    <table id="myTable" class="table table-bordered table-condensed table-striped table-primary table-vertical-center">
        <thead>
            <tr>
                <th style="text-align:center;">No.</th>
                <th>Nome</th>
                <th style="text-align:center;">Usuário</th>
                <th style="text-align:center;">Data Cadastro</th>
                <th style="text-align:center;">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tipoEndereco in Model)
            {
                <tr>
                    <td style="text-align:center;">@tipoEndereco.Id</td>
                    <td>@tipoEndereco.Nome</td>
                    <td style="text-align:center;">@tipoEndereco.UsuarioBackOffice.Nome</td>
                    <td style="text-align:center;">@(((DateTime)tipoEndereco.DataCadastro).FormatarDataHora())</td>
                    <td style="text-align:center;">
                        <span>
                            @Html.DnaMaisTableLinkDetails("Details", (object)tipoEndereco.Id)
                            @Html.DnaMaisTableLinkEdit("Edit", (object)tipoEndereco.Id)
                            @Html.DnaMaisTableLinkRemove("Remove", (object)tipoEndereco.Id, mensagemExclusao)
                        </span>
                </tr>
            }
        </tbody>
    </table>

}

@section scriptsPage {
    <script>
        $(document).ready(function () {

            var dtDados = $('#myTable').DataTable({
                "oLanguage": {
                    "sProcessing": "Processando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "N&#227;o foram encontrados resultados",
                    "sInfo": "Mostrando de _START_ at&#233; _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando de 0 at&#233; 0 de 0 registros",
                    "sInfoFiltered": "(filtrado de _MAX_ registros no total)",
                    "sInfoPostFix": "",
                    //"sSearch": "Buscar:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "Primeiro",
                        "sPrevious": "Anterior",
                        "sNext": "Seguinte",
                        "sLast": "&#218;ltimo"
                    }
                },
                "columnDefs": [
                    { "width": "80px", "targets": 0 },
                    { "targets": 1 },
                    { "width": "200px", "targets": 2 },
                    { "width": "160px", "targets": 3 },
                    { "width": "140px", "targets": 4 }
                ],
                "aaSorting": [[1, "asc"]],
                "iDisplayLength": 5,
                "aLengthMenu": [[5, 10, 50, 100, -1], [5, 10, 50, 100, "Todas"]],
                "bRetrieve": true,
                "bAutoWidth": false,
                "bProcessing": true,
                "bStateSave": false,
                "paging": true,
                "searching": true,
                "info": true,
                "bServerSide": false
            });

        });
    </script>

}