@{
    ViewBag.Title = "Pessoa Jurídica";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

@model DNAMais.Site.Models.AreaRestritaModel

@Html.Partial("~/Views/Shared/_PartialHeaderLogged.cshtml", Model.UsuarioCliente)

<section class="page-header page-header-color page-header-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Consultas Pessoa Jurídica</h1>
                <hr class="short visible-xs visible-sm" />
                <ul class="breadcrumb breadcrumb-valign-mid">
                    <li><a href="@Url.Action("ProdutosContratados", "AreaRestrita")">Produtos Contratados</a></li>
                    <li class="active">Pessoa Jurídica</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container">
        <div class="row">
        <div class="col-md-12" id="divFiltros">
            <div class="tabs tabs-primary">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tabCnpj" id="cnpj" data-toggle="tab"><i class="fa fa-building"></i>&nbsp;CNPJ</a>
                    </li>
                    <li>
                        <a href="#tabNome" id="nome" data-toggle="tab"><i class="fa fa-registered"></i>&nbsp;Razão Social</a>
                    </li>
                    <li>
                        <a href="#tabTelefone" id="telefone" data-toggle="tab"><i class="fa fa-phone"></i>&nbsp;Telefone</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tabCnpj" class="tab-pane active">
                        @Html.Partial("_FiltroPesquisaPessoaJuridicaPorCNPJ")
                    </div>
                    <div id="tabNome" class="tab-pane">
                        @Html.Partial("_FiltroPesquisaPessoaJuridicaPorNome")
                    </div>
                    <div id="tabTelefone" class="tab-pane">
                        @Html.Partial("_FiltroPesquisaPessoaJuridicaPorTelefone")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <input type="hidden" value="" id="hdnOrigemPesquisa" />
        <input type="button" value="Nova Consulta" class="btn btn-danger btn-lg btn-borders pull-right" id="btnNovaPesquisa" />
        <input type="button" value="Voltar" class="btn btn-info btn-lg btn-borders pull-right jsVoltar" style="margin-right: 10px"  />
        <div id="divListaPesquisaPJ">
        </div>
        <div id="divDetalhePesquisaPJ">
        </div>
        <div id="divLoading">
            @Html.Partial("_Loading")
        </div>
        <input type="button" value="Voltar" class="btn btn-info btn-lg btn-borders pull-right jsVoltar" style="margin-bottom: 20px;" />
    </div>
</div>

<script>

    $(document).ready(function () {
        $('#txtCnpjPesquisaPorCnpj').focus();
        $('#btnNovaPesquisa').hide();
        $('#divListaPesquisaPJ').hide();
        $('#divDetalhePesquisaPJ').hide();
        $('#divLoading').hide();
        $('.jsVoltar').hide();

        $('#btnNovaPesquisa').click(function () {
            $('#btnNovaPesquisa').fadeOut(500);
            $('#divListaPesquisaPJ').fadeOut(500);
            $('#divDetalhePesquisaPJ').fadeOut(500);
            $('#divFiltros').fadeIn(500);
        });

        $('.jsVoltar').click(function () {
            event.preventDefault();
            $('.jsVoltar').fadeOut(500);

            if ($('#hdnOrigemPesquisa').val() == "filtro") {
                $('#divDetalhePesquisaPJ').fadeIn(500);
                $('#divListaPesquisaPJ').hide();
            } else {
                $('#divDetalhePesquisaPJ').hide();
                $('#divListaPesquisaPJ').fadeIn(500);
            }

        });

        $(document).on("keyup", function (event) {
            event.preventDefault();
            if (event.which == 13) {
                if (!$('#btnNovaPesquisa').is(':visible')) {
                    $('form').submit();
                }
            }
        });

        $("a[data-toggle=tab]").click(function (e) {

            var abaClicada = e.target.id;

            if (abaClicada == "cnpj") {
                setTimeout(function () {
                    $('#txtCnpjPesquisaPorCnpj').focus();
                }, 1);
            }
            else if (abaClicada == "nome") {
                setTimeout(function () {
                    $('#txtNomePesquisaPorNome').focus();
                }, 1);
            }
            else if (abaClicada == "telefone") {
                setTimeout(function () {
                    $('#txtDddPesquisaPorTelefone').focus();
                }, 1);
            }

        });

    });

</script>
